<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />

<h4>您也可以留下联系方式</h4>
<form method="post" action="{APP_PATH}index.php?m=formguide&c=index&a=show&formid={$formid}"{if $no_allowed} target="member_login"{/if} name="myform" id="myform" class="form-contact">
	{if $forminfos_data }
		<div class="row">
			<div class="form-group">
				<div class="col-md-6">
			      	<label>* {$forminfos_data['user_name']['name']}</label>
					<input type="text" required="required" value="" maxlength="100" class="form-control" name="info[user_name]" id="user_name" placeholder="{$forminfos_data['user_name']['tips']}">
				</div>
				<div class="col-md-6">
					<label>* {$forminfos_data['user_tel_num']['name']}</label>
					<input required="required" value="" maxlength="100" class="form-control" name="info[user_tel_num]" id="user_tel_num" placeholder="{$forminfos_data['user_tel_num']['tips']}" pattern="(^[0-9]{3,4}\-{0,1}[0-9]{3,8}$)|(^[0-9]{3,8}$)|(^\([0-9]{3,4}\)[0-9]{3,8}$)|(^0{0,1}13[0-9]{9}$)"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-md-12">
					<label> {$forminfos_data['user_message']['name']} *</label>
					<textarea maxlength="5000" rows="10" class="form-control" id="user_message" name="info[user_message]" style="height: 138px;" required="required" placeholder="{$forminfos_data['user_message']['tips']}" ></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 submit ib">
				<input type="submit" name="dosubmit" id="dosubmit" value="发送消息" class="btn btn-lg btn-primary">
			</div>
		</div>
	{/if}
</form>
