{template "content","header"}

<!-- Title Section -->           
<section class="title-section">
    <div class="container">
        <!-- crumbs --> 
        <div class="row crumbs">
           <div class="col-md-12">
                {$CATEGORYS[$top_parentid][catname]} / {$CATEGORYS[$catid][catname]}
           </div>
        </div>
        <!-- End crumbs --> 

        <!-- Title - Search--> 
        <div class="row title">
            <!-- Title --> 
            <div class="col-md-9">
                <h1>{$CATEGORYS[$catid][catname]}<span class="cat_en">{$CATEGORYS[$catid][description]}</span></h1>
            </div>
            <!-- End Title--> 
        </div>
        <!-- End Title -Search --> 
      
    </div>
</section>   
<!-- End Title Section --> 
<!-- Works -->
<section class="paddings page_content">
    <div class="container">

        <!-- Nav Filters -->
        <div class="portfolioFilter">
            {pc:content action="category" catid="26" num="10" siteid="$siteid" order="listorder ASC"}
                <a href="{$CATEGORYS[26][url]}" data-filter="*" class="current">显示全部</a>
                {loop $data $r}
                    <a href="{$r[url]}">{$r[catname]}</a>
                {/loop}
            {/pc}
        </div>
        <!-- End Nav Filters -->

        <div class="row">   

            <!-- Blog Post -->
            <div class="col-md-7">
                {pc:content action="lists" catid="$catid" num="10" order="listorder ASC" return="info" moreinfo="1" page="$page"}
                    {loop $info $v}
                    <!-- Item Post -->
                    <article class="post">
                        <div class="row">
                            <!-- Info post --> 
                            <div class="col-md-12">
                                <h3><a href="{$v['url']}">{str_cut($v['title'],76)}</a></h3>
                                <p>{str_cut(strip_tags($v['content']), 360)}<a href="{$v['url']}">了解详情 >></a></p>
                            </div>
                            <!--End Info post --> 
                        </div>  
                    </article>
                    <!-- End Item Post -->
                    {/loop}
                    {$pages}
                {/pc}
            </div>            
            <!-- End Blog Post -->   
            
            <div class="col-md-1"></div>
                               
            <!-- Sidebars -->
            <div class="col-md-4 sidebars">
                
                <aside>
                    <h4>手册分类</h4>
                    <ul class="list">
                        {pc:content action="category" catid="$catid" num="10" siteid="$siteid" order="listorder ASC"}
                            {loop $data $r}
                                <li><i class="fa fa-check"></i><a href="{$r[url]}">{$r[catname]}</a></li>
                            {/loop}
                        {/pc}
                    </ul>
                </aside>
            </div>
            <!-- End Sidebars -->
        </div>
    </div>
    <!-- End Container-->
</section>
<!-- End Works-->
{template "content","footer"}