<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title> 
        <meta name="keywords" content="{$SEO['keyword']}" />
        <meta name="description" content="{$SEO['description']}">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="Shortcut Icon" type="image/x-icon" href="{IMG_PATH}aibili/favicon.ico"/>
        <!-- Theme CSS -->
        <link type="text/css" media="screen" rel="stylesheet" href="{CSS_PATH}aibili/style.css?v=111"/>
        <!-- Responsive CSS -->
        <link type="text/css" media="screen" rel="stylesheet" href="{CSS_PATH}aibili/theme-responsive.css"/>

        <!-- Head Libs -->
        <script src="{JS_PATH}aibili/modernizr.js"></script>

        <!-- styles for IE -->
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/ie/ie.css" type="text/css" media="screen" />            
        <![endif]-->


        <!--[if lte IE 8]>
            <script src="{JS_PATH}aibili/responsive/html5shiv.js"></script>
            <script src="{JS_PATH}aibili/responsive/respond.js"></script>
        <![endif]-->
    </head>
    <body> 
    <!--Preloader-->
    <div class="preloader">
        <div class="status">&nbsp;</div>
    </div>
    <!--End Preloader-->

    <!-- layout-->
    <div id="layout" class="layout-wide">
        <!-- Info Head -->
        <section class="info-head">  
            <div class="container">
                <ul>  
                    <li><i class="fa fa-headphones"></i> 400-055-9807</li>
                    <li><i class="fa fa-qq"></i> <a href="http://wpa.qq.com/msgrd?v=3&uin=2978626281&site=[i-billing]&menu=yes">在线客服</a></li>
                </ul> 
            </div>            
        </section>
        <!-- Info Head -->

        <!-- Header-->
        <header>           
            <!-- Container-->
            <div class="container">
                <!-- Row-->
                <div class="row">
                    <!-- Logo-->
                    <div class="col-md-2">
                        <div class="logo">
                            <a href="/" title="艾比利">                            
                                <img src="{IMG_PATH}aibili/logo.png" alt="Logo" class="logo_img">
                            </a>
                        </div>
                    </div>
                    <!-- End Logo-->
                                                      
                    <!-- Nav-->
                    <nav class="col-md-10">
                        <!-- Menu-->
                        <ul id="menu" class="sf-menu">
                            <li>
                                <a href="/" class="sf-with-ul">首页</a>
                            </li>
                            {pc:content action="category" catid="0" num="10" siteid="$siteid" order="listorder ASC"}
                                {loop $data $r}

                                    <li class="">
                                        {if !$r[type]}
                                        <a href="javascript://">{$r[catname]} <i class="fa fa-angle-down"></i></a>
                                            <ul>

                                                {pc:content action="category" catid="$r[catid]" num="5" siteid="$siteid" order="listorder ASC"}                                  
                                                    {loop $data $r}
                                                        <li>
                                                            <a href="{$r[url]}">{$r[catname]}</a>
                                                            {if isset($r[child])}
                                                            <ul class="sub_menus">
                                                                {pc:content action="category" catid="$r[catid]" num="5" siteid="$siteid" order="listorder ASC"}
                                                                    {loop $data $sr}
                                                                        <li>
                                                                            <a href="{$sr[url]}">{$sr[catname]}</a>
                                                                        </li>
                                                                    {/loop}
                                                                {/pc}
                                                            {/if}
                                                            </ul>
                                                        </li>
                                                    {/loop}
                                                {/pc}
                                            </ul>
                                        {else}
                                            <a href="{$r[url]}">{$r[catname]}</a>
                                        {/if}
                                    </li>
                                {/loop}
                            {/pc}
                            {php echo runhook('glogal_menu')}
                        </ul>
                        <!-- End Menu-->
                    </nav>
                    <!-- End Nav-->
                </div>
                <!-- End Row-->
            </div>
            <!-- End Container-->
        </header>
        <!-- End Header-->