

    <!-- ======================= JQuery libs =========================== -->
    <!-- jQuery local-->
    <script type="text/javascript" src="{JS_PATH}aibili/jquery.js"></script>

    <!-- Bootstrap.js-->
    <script type="text/javascript" src="{JS_PATH}aibili/bootstrap.js"></script>

    <!--MAIN FUNCTIONS-->
    <script type="text/javascript" src="{JS_PATH}aibili/main.js"></script>

    <!-- 百度统计 -->
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?0e1bde2e1d8bd36dcecb55ab29e9972d";
		  var s = document.getElementsByTagName("script")[0];
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
    
    </body>
</html>