<!-- Copyright -->
<section class="copyright">
    <div class="container">
        <div class="logo-img pull-left">
            <img src="{IMG_PATH}aibili/logo.png" alt="logo">
        </div>
        <div class="note">&copy 北京海睿兴业科技有限公司 保留一切权利 京ICP备13046694号</div>
    </div>
</section>
<!-- /Copyright -->

    <!-- ======================= JQuery libs =========================== -->
    <!-- jQuery local-->
    <script type="text/javascript" src="{JS_PATH}aibili/jquery.js"></script>

    <!-- Bootstrap.js-->
    <script type="text/javascript" src="{JS_PATH}aibili/bootstrap.js"></script>

    <!-- carousel.js-->
    <script src="{JS_PATH}aibili/carousel.js"></script>

    <!--MAIN FUNCTIONS-->
    <script type="text/javascript" src="{JS_PATH}aibili/main_iot.js"></script>

    <!-- 百度统计 -->
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?0e1bde2e1d8bd36dcecb55ab29e9972d";
		  var s = document.getElementsByTagName("script")[0];
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
    
    </body>
</html>