<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title> 
        <meta name="keywords" content="{$SEO['keyword']}" />
        <meta name="description" content="{$SEO['description']}">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="Shortcut Icon" type="image/x-icon" href="{IMG_PATH}aibili/favicon.ico"/>

        <link type="text/css" media="screen" rel="stylesheet" href="{CSS_PATH}aibili/bootstrap.min.css"/>
        <!-- Theme CSS -->
        <link type="text/css" media="screen" rel="stylesheet" href="{CSS_PATH}aibili/style_iot.css?v=2018"/>
        <!-- Responsive CSS -->
        <link type="text/css" media="screen" rel="stylesheet" href="{CSS_PATH}aibili/theme-responsive.css"/>

    </head>
    <body> 
