{template "content","header"}
<!-- Contact Us -->
<section class="content_info">
  <div class="paddings" id="contact">
      <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-8" style="padding: 30px; border: 4px solid #ececec;margin-bottom: 100px">
                <h2>北京海睿兴业科技有限公司</h2>
                <p>北京海睿兴业科技有限公司是一家专注于有线和无线宽带领域、致力于为运营商提供专业的电信运营支撑及增值服务的高科技软件公司。公司位于北京上地软件园区，秉承以科技为本、客户至上的运营理念，坚持以过硬的技术和优质的服务为基础，逐步确立了艾比利品牌在小区宽带计费领域的领导者地位。</p>
                <p>公司拥有一支高素质的技术团队，其核心成员均为电信行业领域的资深专家。凭借多年电信行业及国内小区宽带服务的经验，设计和开发了以宽带认证计费为核心的艾比利宽带综合业务平台：该平台将宽带认证计费业务、有线/无线运营支撑业务以及宽带增值业务等有机地结合在一起，不仅大大地提升了宽带运营效率，还最大限度地挖掘宽带价值，实现了与运营商的合作共赢。</p>
              </div>
              <div class="col-md-2"></div>
            </div>
              <!-- Sidebars -->
              <div class="col-md-4 sidebars">
                  <aside>
                      <h4>联系方式</h4>
                      <address>
                        <strong>北京海睿兴业科技有限公司</strong><br>
                        <i class="fa fa-map-marker"></i><strong>地址: </strong>海淀区安宁庄西三条9号宜品上层1幢1单元3层<br>
                        <i class="fa fa-phone"></i> <strong>电话: </strong>010-82435030<br>
                        <i class="fa fa-phone"></i> <strong>手机: </strong>186-1407-3703（夏先生）<br>
                        <i class="fa fa-phone"></i> <strong>400热线: </strong>400-055-9807<br>
                        <i class="fa fa-envelope"></i><strong>Email: </strong>service@i-billing.cn
                      </address>

                      <address>
                        <i class="fa fa-qq"></i><strong>销售咨询QQ: </strong><a href="http://wpa.qq.com/msgrd?v=3&uin=2978626281&site=[i-billing]&menu=yes">2978626281</a><br>
                        <i class="fa fa-qq"></i><strong>技术支持QQ: </strong><a href="http://wpa.qq.com/msgrd?v=3&uin=2933078649&site=[i-billing]&menu=yes">2933078649</a><br>
                        <!--<i style="position: relative;top:4px;width: 26px;height: 21px;background: url({IMG_PATH}aibili/qqgroup.png) 0 3px no-repeat;display: inline-block"></i><strong>官方QQ群: </strong><span>52406387</span><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=d1e10bd62b600e62c2b109aaa241a0f878d1d98ff3de8af35b22660ef126e56d"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="艾比利认证计费官方群" title="艾比利认证计费官方群"></a><br>-->
                        <i class="fa fa-weibo"></i>新浪微博：<a href="http://blog.sina.com.cn/u/3852084435">艾比利官方微博</a><br>

                      </address>
                      <!--<div>
                        <strong><i class="fa fa-weixin"></i>&nbsp;关注我们</strong><br>
                        <p class="weixin"><img src="{IMG_PATH}aibili/weixin.png" alt=""></p>
                      </div>-->
                  </aside>
              </div>
              <!-- End Sidebars -->

              <!-- Content Right -->
              <div class="col-md-8">
                  
                  <!-- Tabs -->
                  <div class="tabs">
                      <!-- Tab nav -->
                      <ul class="nav nav-tabs">
                      </ul>
                      <!-- End Tab nav -->

                      <!-- Tab Content -->
                      <div class="tab-content">
                          <!-- Tab item -->
                          <div class="tab-pane active" id="contactUs">
                            
                            <script language='javascript' src='{APP_PATH}index.php?m=formguide&c=index&a=show&formid=12&action=js&siteid=1'></script>
                              
                          </div>
                          <!-- End Tab item -->

                      </div>
                      <!-- End Tab Content -->
                  </div>  
                  <!-- End Tabs -->                     

              </div>
              <!-- End Content Right -->

          </div>
      </div>
      <!-- End Container-->
  </div>
</section>
<!-- End Contact Us-->
{template "content","footer"}