{template "content","header"}
<!-- Works -->
<section class="paddings page_content" style="min-height: 600px;overflow: hidden;">
    <div class="container">
        <div class="portfolioFilter" style="margin-top: 5px;text-align: left;margin-bottom: 1em;">
            <a href="{$CATEGORYS[$catid][url]}" class="current">{$CATEGORYS[$catid][catname]}</a> >
            <a href="{$CATEGORYS[$catid][url]}" class="current">{$title}</a>
        </div>
        <div class="row">
            <!-- End Sidebars -->
            <div class="col-md-8">
                
                <div class="content">
                    <h2>{$title}</h2>
                    <hr class="small">
					{$content}
                </div>
            </div>
			<!-- Sidebars -->
            <div class="col-md-4 sidebars">
                <aside class="content_dir">
                    <h4>演示试用</h4>
                    <ul class="list">
                    	{pc:content action="lists" catid="$catid" order="listorder ASC" return="info" num="10"}
	                    	{loop $info $v}
		                    	<li><a href="{$v[url]}">{$v[title]}</a></li>
	                    	{/loop}
                    	{/pc}
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    <!-- End Container-->
</section>
<!-- End Works-->
{template "content","footer"}